<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(href='styles/main.css')
link(href='https://fonts.googleapis.com/css?family=Unica+One')
title SpandX
body
    h1 SpandX
	h1 Hi i hope this works
    